* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./assets/background.png');
    background-size: 100lvw 100dvh;
    background-repeat: no-repeat;
    overflow: hidden;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

$hud-height: 140px;

@mixin hud-styles($aspect-width, $aspect-height, $height) {
    aspect-ratio: $aspect-width / $aspect-height;
    position: fixed;
    height: $height;
    left: 50%;
    transform: translateX(-50%);
}

.topHUD {
    img:first-of-type {
        @include hud-styles(423, 146.82, $hud-height);
    }

    img:last-of-type {
        @include hud-styles(104.238, 100, $hud-height + 50px);
        top: -40px;
    }
}