@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

$cyan: #9AF0F4;
$white: #FFFFFF;

@mixin text-styles($glow-radius, $color, $size) {
    font-family: "Space Grotesk", sans-serif;
    font-size: $size;
    color: $color;
    text-align: center;
    filter: drop-shadow(0 0 $glow-radius $color);
}

.card {
    width: 100vw;
    height: calc(100vh - 120px);
    position: fixed;
    bottom: 10px;
    display: flex;
    align-items: center;

    img[alt="card frame"] {
        position: absolute;
        width: 80%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    img[alt="costaan"] {
        z-index: 1;
        aspect-ratio: 474 / 619.48;
        height: 70%;
        position: absolute;
        left: 13%;
    }

    .contentContainer {
        z-index: 1;
        position: absolute;
        right: 13%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45%;
        gap: 25px;

        h1 {
            @include text-styles(2px, $cyan, 45px);
        }

        h2 {
            @include text-styles(2px, $white, 34px);
        }

        p {
            @include text-styles(0px, $cyan, 16px);
        }
    }
}

// .card {
//     aspect-ratio: 1391 / 791.7;
//     width: 90vw;
//     background-image: url('./../../assets/cardFrame.png');
//     background-position: center;
//     background-size: contain;
//     background-size: 100% 100%;
//     background-repeat: no-repeat;
//     margin-bottom: 10px;
//     overflow: hidden;

//     display: grid;
//     grid-template-columns: 1fr 2fr;

//     .imageContainer {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         height: calc(100% - 10px);

//         img {
//             aspect-ratio: 474 / 619.48;
//             height: 70%;
//         }
//     }

//     .contentContainer {
//         position: relative;
//         bottom: 10px;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         height: 20%;

//         h1 {
//             @include text-styles(2px, $cyan, 45px);
//         }

//         h2 {
//             @include text-styles(2px, $white, 34px);
//         }

//         p {
//             @include text-styles(0px, $cyan, 16px);
//         }
//     }
// }