.card {
    aspect-ratio: 1391 / 791.7;
    width: 90vw;
    background-image: url('./../../assets/cardFrame.png');
    background-position: center;
    // background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
        aspect-ratio: 474 / 619.48;
        height: 70%;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}